.outer-card-container2{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.inner-circular-card-container{
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.circular-cards-title{
    font-size: 21px;
    margin: 0;
    padding: 0;
}

.circular-cards-images{
    display: flex;
    gap: 14px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 20px;
}

.circular-cards-images a, .circular-cards-images img{
    height: 200px;
    width: 200px;
}