*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Amazon Ember', sans-serif; */
    background-color: #e3e6e6;
}

/* width */
.scroll::-webkit-scrollbar {
    height: 6px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 6px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background: #888;
    cursor: pointer;
}